<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceDevice" />
                <binding name="BasicHttpBinding_IServiceCalcul" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54435/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceDevice" contract="ServiceReferenceCalcul.IServiceDevice"
                name="BasicHttpBinding_IServiceDevice" />
            <endpoint address="http://localhost:54435/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceCalcul" contract="ServiceReferenceCalcul.IServiceCalcul"
                name="BasicHttpBinding_IServiceCalcul" />
        </client>
    </system.serviceModel>
</configuration>